@charset "utf-8";

.wrapper {width: 292px;}
.minbox {width: 85px;}
.mrbv1 {width: 90%;}
.minbox {
width: 98%;
}
.rytttlist {
	padding-bottom: 17px;
text-align: left;}
.shwmain .slct{ width:98%;}
.price a.rate{ font-size:11px; padding:5px 4px; }
.price a.MCtooltip{ font-size:11px; padding:5px 4px;}
.alaist {
float: left;
width: 100%;
}

.cent_srch_left_main {
width: 100%;
float: none;
}
.mrbv {
width: 98%;}
.selselct {
width: 98%;
}
.cent_srch_ryt {
float: none;
padding: 20px 0px;
width: 100%;
color: aliceblue;
}
.srch_bar { float:left;
}
.srchboxa {
width: 93%; 
}
.list_ryt {
width: 100%;
margin-top: 10px;
}

.cent_srch_ryt h1 {
font-size: 25px;}
.listings figure {
float: left; margin:0;
margin-right: 3%;}
.ztxt a {
font-size: 23px;
}
.srchbtn {width: 100%}
.sortlist li a {
padding: 1px 4px;}



.amin article{ width:94%; float:none}
.amin .rytttlist{width: 100%; float:none; margin:20px 0 0 0;}
.amin .ztxt a{ font-size:22px;}
.amin .listings figure{ float:none}

.mrvmain {
width: 78%; float:none; margin-bottom:10px}
.mrbv1 {width: 92%;}
.list_ryt {
float: right;
width: 90%;
margin: 10px 0px 0px 0px;}
.selselct11 {
width: 167px;}

.amin article{ padding-top:29px;}
.listings{ padding:30px 10px 10px 10px;}

.togimg{
background: url(../images/toogle.png) #0d698d;
padding: 10px 10px;
cursor: pointer;
width: 15px;
height: 7px;
float: right;margin: 37px 0 0 0;
}
nav ul li{ float:none}
.navigation3{ float:none; clear:both;display:none}

#srch{margin:0px 2px; }

.alist1 .price a {
padding: 5px 10px;
font-size: 13px;
}
.MCtooltip h3{font-size: 11px;}
.alist .price a {
padding: 5px 4px;
font-size: 11px;
}

.amin .listings {
 margin-right:0px
}

.alist .listings{ margin-bottom:70px;}


.list_left{ float:none; font-size:13px;}
.list_ryt{ width:92%; margin:10px 0 0 0 ; float:none; clear:both}
.alist1 .price{width: 100%;}

.mainccs {
width: 100%;}
.mrvmain {
width: 84%;}

.navigation li{
	display: none;
}
nav.navigation li.for_mob{
	margin-left: 0;
}

nav.navigation{
	float: none;
	display: inline;
}
header section .menu_icon{
	display: block;
}
.header_midbox a .logo{
	float: left;
	margin: 0;
	display: inline;
	padding-left: 10%;
	padding-right: 0;
}
@media(max-width: 320px) {
    header section .menu_icon{
	display: block;

  }

  .nav-mobile{
        z-index: 999;
}
.cent_srch_ryt .headnav .list_ryt{
	width: 100%;
}
.alaist .price a.MCtooltip[href="#"]{
  display: none;
}
.alaist1 .price a.MCtooltip[href="#"]{
display: none;
}
article.listings{
	height: 217px;
}