@charset "utf-8";

.minbox {width: 85px;}
.mrbv1 {width: 90%;}
.minbox {
width: 98%;
}
.alaist > li{
	width: 100%;
}
.alaist > li:nth-child(odd){
	margin-right: 0;
}
ul.alaist li{
	height: 210px;
}

.price a.rate{ font-size:12px; padding:4px 4px; }
.price a.MCtooltip{ font-size:10px; padding:4px 4px;}
.cent_srch_ryt .headnav .list_ryt{
	width: 100%;
}
.rytttlist {
padding-bottom: 17px;	
text-align: left;
width: 100%;}
.shwmain .slct{ width:98%;}

.cent_srch_left_main {
width: 100%;
float: none;
}
.mrbv {
width: 98%;}
.selselct {
width: 98%;
}
.cent_srch_ryt {
float: none;
padding: 20px 0px;
width: 100%;
color: aliceblue;
}
.srch_bar { float:left; width:auto;
}
.srchboxa {
	width: 93%;
}
.list_ryt {
width: 100%;
margin-top: 10px;
}
#srch{margin: 0px 2px;}
.cent_srch_ryt h1 {
font-size: 25px;}
.listings figure {
float: left; margin:0;
margin-right: 3%;}
.ztxt a {
font-size: 23px;
}
.srchbtn {
padding: 7px 4px; width: 100%;}

.amin article{ width:94%; float:none}
.amin .rytttlist{width: 100%; float:none; margin:20px 0 0 0;}
.amin .ztxt a{ font-size:22px;}
.amin .listings figure{ float:none}

.mrvmain {
width: 81%; float:none; margin-bottom:10px}
.mrbv1 {width: 92%;}
.list_ryt {
float: right;
width: 92%;
margin: 10px 0px 0px 0px;}
.amin article{ padding-top:29px;}
.listings{ padding:30px 10px 10px  10px;}

.togimg{
background: url(../images/toogle.png) #0d698d;
padding: 10px 10px;
cursor: pointer;
width: 15px;
height: 7px;
float: right;margin: 37px 0 0 0;
}
nav ul li{ float:none}
.navigation3{ float:none; clear:both;display:none}

.alist1 .price a {
padding: 5px 10px;
font-size: 11px;
}
.alist .price a {
padding: 5px 7px;
font-size: 11px;
}

.amin .listings {
 margin-right:0px
}


.list_left{ float:none; font-size:13px;}
.list_ryt{ width:92%; margin:10px 0 0 0 ; float:none; clear:both}
.alist1 .price{width: 100%;}

.mrvmain {
width: 86%;}
.mainccs {
width: 100%;}
	
.navigation li{
	display: none;
}
nav.navigation li.for_mob{
	margin-left: 0%;
}

nav.navigation{
	float: none;
	display: inline;
}
.menu_icon{
	display: block;
}
.header_midbox a .logo{
	float: left;
	margin: 0;
	display: inline;
}
.dash{
    display: none;
}
.nav-mobile .dash{
    display: block;
    float: none;
    text-align: center;
    margin-left: 0;
}
.nav-mobile{
        z-index: 999;
}
.minmain{
    width: 100%;
  }