@charset "utf-8";

.wrapper {width: 736px;}
.minbox {width: 85px;}
.mrbv1 {width: 93%;}
.minbox {
width: 95%;
}
.shwmid {
float: left;
padding: 0px;
width: 100%;}
.rytttlist {
float: right;
text-align: left;
width: 88%;
}

.price a
{ font-size:11px;
padding: 5px 16px;}

.selselct11 {
width: 152px;}
.amin article{ width:47%; float:left}
.amin .rytttlist{width: 100%; float:none; margin:20px 0 0 0;}
.amin .ztxt a{ font-size:22px;}
.amin .listings figure{ float:none}


.mrvmain {
width: 88%; float:none; margin-bottom:10px}
.mrbv1 {width: 92%;}
.list_ryt {
float: right;
width: 44%;
margin: 10px 0px 0px 0px;}
.amin article{ padding-top:29px;}

.togimg{
background: url(../images/toogle.png) #0d698d;
padding: 10px 10px;
cursor: pointer;
width: 15px;
height: 7px;
float: right;margin: 37px 0 0 0;
}
nav ul li{ float:none}
.navigation3{ float:none; clear:both; display:none}
.selectBox-dropdown{ width:100px;}

.selselct{ width:90%;}

.alaist{ width:100%;}
.price a.rate{ font-size:13px;}
.alist1 .price a {
padding:2px 13.1px;
}
.alist .listings{ margin-bottom:20px}


.list_left{ float:none}
.list_ryt{ width:300px; margin:10px 0 0 0 ; float:none; clear:both}

.listings {
padding: 32px 10px 26px 10px;}

.alist1 .price{ /*background: #74AFC5;*/ width: 100%;}

.mrvmain {
width: 91%;
}
.mainccs {
width: 100%;}
.mrvbtn{ right:8px}
.navigation{
  display: none;
}
