@charset "utf-8";
/* CSS Document */
/*body{margin:0px; padding:0px; font-family: 'OswaldBook'; background:url(../images/welcome_back.png);}*/
.clear{clear:both;}
input{ outline:none;}
h1,h2,h3,h4,h5,h6,img,a,ul{margin:0px; padding:0px; list-style-type:none;outline:none;border:0px; text-decoration:none;}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#OswaldBook') format('svg');
}

fieldset {
  border:0;
}

.row .selectBox {
  float: left;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accord {
  margin-bottom: 1em;
}


.subscri{ border-radius: 0px 10px 10px 0px;padding: 0px 1px 0 0;box-shadow: 2px 1px 15px #5c5a5a;}
.chose-langu { 
background: #2F6396;
background: linear-gradient(right, #2F6396, #5795DF);
background: -moz-linear-gradient(right, #2F6396, #5795DF);
background: -webkit-linear-gradient(right, #2F6396, #5795DF);
background: -ms-linear-gradient(right, #2F6396, #5795DF);
background: -o-linear-gradient(right, #2F6396, #5795DF);
border-radius: 10px 0px 0px 10px;
padding:0.8em 0.4em;
position: fixed;
top: 91PX;
right: 0;
z-index: 99999;box-shadow: 2px 1px 15px #5c5a5a;
}

.cent_srch{ padding:30px 0px;}
.cent_srch_left{ box-shadow:0 0 20px #333 inset; background-color: #0d698d; padding: 12px 14px 9px 14px;border: 1px solid #aeaeae; color:#f7f7f7 !important;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;}
.cent_srch_left:hover{background-color: #0a5471;}
.cent_srch_left_main{ width:23%; float:left;}
.cent_srch_ryt{ float:right;width: 73%; color: aliceblue;}
.srch_bar{ margin-bottom: 10px; position:fixed;
left: 0; z-index:9999999;webkit-transition:  .4s ease-out;
-moz-transition:  .4s ease-out;
-ms-transition:  .4s ease-out;
-o-transition:  .4s ease-out;
transition: .4s ease-out; TOP: 91PX;
} 
/*.wrapper{ width:1208px;margin: 112px 0px 30px 0px;}*/
.result_outer{margin-top: 35px; margin-bottom: 30px;}

.srchboxa{width: 93%;height: 21px;
padding: 5px; width: 266px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );
 float:left;margin: 2px 0 0 0;}
 
input{font-size: 15px;}
input[type=text]:focus{
/*box-shadow:0px 0px 14px rgba(1, 141, 219, 0.6);background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );*/
}
.mrvmain:focus{border: 1px solid #1570a6;
box-shadow: 0 3px 5px rgba(0,0,0,0.6);
background-image: none; color:#000;}



.srchbox{width: 300px;height: 21px; box-shadow: 0 0 5px #333333; padding: 5px; border:0; background: #FFFFFF; font-size:16px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );  float:left;margin: 2px 0 0 0;}
 .srchbox:hover{
background: -webkit-linear-gradient(top, #FFFFFF 0%, rgb(224, 212, 212) 100%); -webkit-transition: color .1s linear;
-moz-transition: color .3s linear;
-ms-transition: color .3s linear;
-o-transition: color .3s linear;
transition: color .3s linear; 

box-shadow: 0px 0px 8px #333;
outline: rgb(12, 77, 121);
 }
.srchbtn{background-color: #0d698d;
font-size: 16px;
text-transform: uppercase;
padding: 7px 15px;
color: #fff; float:left; margin-top:13px; border:none; outline:none; cursor:pointer;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;}
.srchbtn:hover{ background-color:#000000; color:#FFF !important;}
.srctxt{ text-align:left; font-size: 18px;}
.mrbv{ margin-bottom:10px; width:95%}
.listxt{ text-align:left; display:block;}
.shwmain{ padding-bottom:10px; clear:both;}
.shwmain .slct{ float:left; width:95% !important;}
.minmain{ float:left;}
.minbox{width: 91px;}
.mintxt{ text-align:left;}
.shwmid{ float:left; padding:24px 20px 0px 20px;}
.mrschr{ margin:20px 0 0 0;}
.apply{
border-radius: 5px;
font-size: 16px;
text-transform: uppercase;
padding: 7px 15px;
color: #fff;
border: none;
outline: none;
cursor: pointer; font-weight:bold;width: 98%; margin:10px 0 10px 0;}
.cent_srch_ryt h1{ font-size:30px; text-align:left;padding: 20px 0px 5px 0px;}
.srch_main{ padding:20px 0px 20px 0px;}
.maincc ul, .sotbot ul{ float:right; margin: 7px 0 0 0;}
.maincc ul li a, .maincc ul li span, .sotbot ul li a, .sotbot ul li span{background:#0d698d; padding:4px 7px; display:block; color:#fff; }

.maincc ul li span.searchPaginationSelected,
.sotbot ul li span.searchPaginationSelected {
  color: #FFFFFF; background-color: #FF0000;background: -webkit-linear-gradient(rgba(116, 23, 23, 1), rgba(255, 16, 16, 1));
}

.maincc ul li a:hover,
.maincc ul li span:hover,
.sotbot ul li a:hover,
.sotbot ul li span:hover {

color: #FFFFFF; background-color: #FF0000;transition: all 0.8s ease-out 0s; background: -webkit-linear-gradient(rgba(116, 23, 23, 1), rgba(255, 16, 16, 1)); padding: 6px 10px; margin-top:-4px;}
.maincc ul li+li,
.sotbot ul li+li{ margin-left:4px;}
.maincc ul li,
.sotbot ul li{float:left; }
.headnav { background-color: #0d698d; padding:10px 10px; border:1px solid #aeaeae; margin-bottom:16px}
.list_left{ float:left; color:#fff;  font-family: 'OswaldBook'; font-size:16 px;
padding: 8px 0 0 0;}
.selselct11{width: 193px;
height: 18px;
padding: 5px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );
margin: 2px 0 0 0; color:#000 !important;}
.list_ryt{ float:right;width: 263px;}
.sorttxt{ color:#fff; font-size:18px; margin: 5px 8px 0px 0px; float:left}


.listings{
padding: 10px 10px 10px 10px;
margin: 10px 0px;
background: #fff;
min-height:147px;
box-shadow: 0px 5px 10px 6px #ccc;
margin: 30px 0 0px 0px; position:relative;
 display:block;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; cursor:pointer}
.listings:hover{ 


}
.alist1 .price a {
padding: 5px 90.1px;
}
.alist li{-webkit-transition: all 700ms  linear;
-moz-transition: all 700ms  linear;
-ms-transition: all 700ms  linear;
-o-transition: all 700ms  linear;
transition: all 700ms  linear; }
.alist li:hover{-webkit-transform: scale(1.04);
-moz-transform: scale(1.04);
-ms-transform: scale(1.04);
-o-transform: scale(1.04);
transform: scale(1.04);
box-shadow: 0 0 8px rgba(0,0,0,0.2);
z-index: 5;position: relative;}

.alist li:hover >.listings a {
	
}
.ullist  li a{ color:#fff}

.alist li:hover > .listings p {
}

.MCtooltip h3{ font-size:13px;}
.ztxt a{ color:#0d698d; display:block}
.listings p{color: #5d5c5c !important}
a.MCtooltip:hover span {
    top: 100%;
    left: 0;
}

.listings figure{ float:left; margin:0px;}
.listings figure img{ display:block;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;margin: 5px 0 10px 0;
}

.rytttlist{ float: right;
text-align: left;
width: 70%;}
.ztxt a{ 
    /*font-size: 22px; */
font-weight: bold;}
.rytttlist{font-size: 13px;}
/*a{ display:block} */
.ztxt a:hover{}
.listings figure a{ margin:7px 0 0 0;}
article+article{ }
.allcat{ background:#008ec2; padding:10px 0px; color:#fff; font-weight:bold;/*border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px; border-bottom-left-radius:0px;-moz- border-bottom-left-radius:0px;-webkit- border-bottom-left-radius:0px;-o- border-bottom-left-radius:0px;-ms- border-bottom-left-radius:0px;border-bottom-right-radius:0px;-moz- border-bottom-right-radius:0px;-webkit- border-bottom-right-radius:0px;-o- border-bottom-right-radius:0px;-ms- border-bottom-right-radius:0px;*/ font-size:18px; font-family:Arial; text-align:left; padding-left:10px}
.padzero{ padding:0px !important;}
.ullist li{ text-align:left; padding:0px 10px 0 10px;font-family:Arial; font-size:14px;}
.ullist li+li{padding:9px 10px 0 10px;}
.ullist{ padding:20px 0px}
.ullist li a:hover{ text-decoration:underline;}

.selselct{ width: 94%;
height: 23px;
padding: 5px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );


margin: 2px 0 0 0;}
a{}

.cent_srch_ryt a:hover{}
.srchbtn:hover{/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;background-color: #083047;}
p:hover{}
  
 .result_outer  p{ color:#f7f7f7; }

.mrbv1 {
width: 94%;
float: left; font-size: 17px;
border: none;
background-color: transparent;
padding-left: 3px;}
.mrbv1:hover{ border:none;
box-shadow:none;}

.mrvbtn{ background:url(../images/search.png)  no-repeat; outline:none; border:none; cursor:pointer; width:20px; background-color:transparent; position: absolute;
right: 5px;
top: 10px;}
.mrvmain{ width: 94%;
height: 21px;
padding: 8px 30px 8px 8px;
border: 1px solid #ddd;
border-radius:3px;
background: #fff;
box-shadow: 5px 4px 10px #ccc;

float: left;
margin: 2px 0 0px 0;}




#tog { float:left; cursor: pointer; position: relative;background: -webkit-linear-gradient(top, #0095c8, #006a9d); height:149px; width:50px; border-radius:0 10px 10px 0;
z-index: 9999999;

-webkit-transition: background .4s ease-in;
-moz-transition: background .4s ease-in;
-ms-transition: background .4s ease-in;
-o-transition: background .4s ease-in;
transition: background .4s ease-in; }
#srch{background: #efeeee;float: left;
margin-left: -7px;
padding: 23px 10px !important;
margin-top: 8px;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );padding: 11px 0px 10px 10px;border: 1px solid #b4b4b4;}

#tog img:hover{ opacity:0.85;}

.amin article{ float:left; width:48%}
.amin .rytttlist{width: 68%;}
/*p{ margin:4px 0px;}*/

.maincc{ margin:0px 0px 20px 0px}

.rzero{ margin-right:0px !important}
.amin .listings{margin-right: 30px;}
.amin{ margin-bottom:20px}

.price{z-index: 1;position: absolute;left: 0; bottom:0; top: auto;}
.price a.rate {
/* display: block; */
background: #0382b1;
text-decoration: none;
color: #fff;
font: 13px Arial, Helvetica, sans-serif;
text-align: center;float:left; height:27px; line-height:28px; padding:0 5px;
}
/*.price a{padding: 5px 15px;}*/
.price a.MCtooltip {
background: none repeat scroll 0 0 #74AFC5;
color: #FFFFFF!important;
height:27px;
line-height:27px;
display: inline-block;
font-family:arial;
padding:0 5px;
font-size: 13px;

position: relative;
text-decoration: none;  float:left;
}
.amin li a.MCtooltip span{/*top: 26px;*/ top:0px !important;}
a.MCtooltip span {
background: #ffffff;
box-shadow: 0px -2px 5px #ddd;
color: #035BA0!important;
font-size: 12px;
left: 0;
position: absolute;
text-align: left;
top: 30px;
padding: 9px;
display: none;
width: 86%;
line-height: 20px; z-index:999999;
}
.alist li.listings p{ margin:0px}
.amin .price{ background:#0382b1;width: 100%; }
.alist1 .price{ position:absolute; right:0;top:0; left:inherit}
.alist1 .price a{ padding:3px 5px;} 
a.MCtooltip span{ width:83%}
a.MCtooltip .span{ width:83%; top:-98px;}
.alist1 .chose-langu {
background: #0095c8;
background: linear-gradient(top, #0095c8, #006a9d);
background: -moz-linear-gradient(top, #0095c8, #006a9d);
background: -webkit-linear-gradient(top, #0095c8, #006a9d);
background: -ms-linear-gradient(top, #0095c8, #006a9d);
background: -o-linear-gradient(top, #0095c8, #006a9d);
border-radius: 10px 0px 0px 10px;
padding: 0.7em;
position: fixed;
top: 119px;
right: 0;
z-index: 99999;
}
/* .chose-langu:hover{ opacity:0.85;} */
.search-btn {
float: left;
background: url(../images/search-b.png) no-repeat;
width: 41px;
height: 36px;
margin: 0 0 5px 0;
}

.english-btn {
padding-top: 3px;
float: left;
clear: both;
}

.rusiian-btn {
padding-top: 3px;
float: left;
clear: both;
}

.search-btn:hover {
float: left;
background: url(../images/search-b.png) 0 -36px no-repeat;
width: 41px;
height: 36px;
margin: 0 0 5px 0;
}
.listings{}


.pcc{ padding-bottom:10px;}
.mainccs{ width:48%; float:left; position:relative;}

.price p{background: none repeat scroll 0 0 #74AFC5;
color: #FFFFFF!important;
display: inline-block;
font: 13px Arial, Helvetica, sans-serif;
font-size: 13px;
position: relative;
text-decoration: none;
float: left;  margin:0px;}

.sotbot .sortlist{ margin:40px 0 0 0;}


.alaist > li {
    float: left;
    width: 36%;
}

.alaist li {
    transition: all 700ms linear 0s;
}
.alaist li:hover {
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-ms-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
z-index: 5;
position: relative;}

.alaist > li {
    width: 100%;
}

.alaist {
    float: left;
    width: 48%;
}
.alaist:first-child {
  margin-right: 4%;
}


.outpart{ width:100%; float:left;}

.ztxt{margin-bottom: 10px;}
