@charset "utf-8";
/* CSS Document */
/*body{margin:0px; padding:0px; font-family: 'OswaldBook'; background:url(../images/welcome_back.png);}*/
.clear{clear:both;}
input{ outline:none;}
h1,h2,h3,h4,h5,h6,img,a,ul{margin:0px; padding:0px; list-style-type:none;outline:none;border:0px; text-decoration:none;}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#OswaldBook') format('svg');
}

fieldset {
  border:0;
}

.row .selectBox {
  float: left;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accord {
  margin-bottom: 3px;
}


.subscri{ padding: 0px 0px 0 0;box-shadow: 2px 1px 15px #5c5a5a;}
.chose-langu { 
background: #4882C2;
border-radius: 0px 0px 0px 0px;
padding:0.8em 0.6em;
position: fixed;
top: 90PX;
right: 0;
z-index: 9;
}

.cent_srch{ padding:30px 0px;}
.cent_srch_left{overflow: hidden; box-shadow:0 0 20px #333 inset; background-color: #0d698d; padding: 12px 14px 9px 14px;border: 1px solid #aeaeae; color:#f7f7f7 !important;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;}
.cent_srch_left:hover{background-color: #0a5471;}
.cent_srch_left_main{ width:23%; float:left;}
.cent_srch_ryt{ float:right;width: 73%; color: aliceblue;}
.srch_bar{ margin-bottom: 10px; position:fixed;
left: 0; z-index:9999999;webkit-transition:  .4s ease-out;
-moz-transition:  .4s ease-out;
-ms-transition:  .4s ease-out;
-o-transition:  .4s ease-out;
transition: .4s ease-out; TOP: 91PX;
} 
/*.wrapper{ width:1208px;margin: 112px 0px 30px 0px;}*/
.result_outer{
  margin-bottom: 30px;
  padding-bottom: 14px;
}

.srchboxa{width: 93%;height: 21px;
padding: 5px; width: 266px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );
 float:left;margin: 2px 0 0 0;}
 
input{font-size: 15px;}
input[type=text]:focus{
/*box-shadow:0px 0px 14px rgba(1, 141, 219, 0.6);background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );*/
}
.mrvmain:focus{border: 1px solid #1570a6;
box-shadow: 0 3px 5px rgba(0,0,0,0.6);
background-image: none; color:#000;}



.srchbox{width: 300px;height: 21px; box-shadow: 0 0 5px #333333; padding: 5px; border:0; background: #FFFFFF; font-size:16px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );  float:left;margin: 2px 0 0 0;}
 .srchbox:hover{
background: -webkit-linear-gradient(top, #FFFFFF 0%, rgb(224, 212, 212) 100%); -webkit-transition: color .1s linear;
-moz-transition: color .3s linear;
-ms-transition: color .3s linear;
-o-transition: color .3s linear;
transition: color .3s linear; 

box-shadow: 0px 0px 8px #333;
outline: rgb(12, 77, 121);
 }
.srch_bar .srchbtn{
  width: 238px;
 }
.srchbtn{background-color: #0d698d;
font-size: 16px;
text-transform: uppercase;
padding: 7px 15px;
color: #fff; float:left; margin-top:13px; border:none; outline:none; cursor:pointer;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;}
.srchbtn:hover{ background-color:#000000; color:#FFF !important;}
.srctxt{ text-align:left; font-size: 18px;}
.mrbv{ margin-bottom:10px; width:100%}
.listxt{ text-align:left; display:block; overflow: hidden;}
.for_price .minmain .listxt input{width: 100%;}
.shwmain{ padding-bottom:10px; clear:both; overflow: hidden;}
.shwmain .slct{ float:left; width:95% !important;}
.shwmain div.minmain{ float:left; width: 40%; overflow: hidden;}
.minmain_right{ float:right !important;}
.minbox{width: 90%;}
.mintxt{ text-align:left;}
span.shwmid{
    padding: 9px 0px;
    position: relative;
    float: left;
    margin-left: 9%;
}
.mrschr{ margin:20px 0 0 0;}
.apply{
border-radius: 0px;
font-size: 16px;
text-transform: uppercase;
padding: 7px 15px;
color: #fff;
border: none;
outline: none;
cursor: pointer; font-weight:bold;width: 100%; margin:10px 0 10px 0;}
.cent_srch_ryt h1{ font-size:30px; text-align:left;padding: 20px 0px 5px 0px;}
.srch_main{ padding:20px 0px 20px 0px;}
.maincc ul, .sotbot ul{ float:right; margin: 7px 0 0 0;}
.maincc ul li a, .maincc ul li span, .sotbot ul li a, .sotbot ul li span{background:#0d698d; padding:4px 7px; display:block; color:#fff; }

.maincc ul li span.searchPaginationSelected,
.sotbot ul li span.searchPaginationSelected {
  color: #FFFFFF; background-color: #FF0000;background: -webkit-linear-gradient(rgba(116, 23, 23, 1), rgba(255, 16, 16, 1));
}

.maincc ul li a:hover,
.maincc ul li span:hover,
.sotbot ul li a:hover,
.sotbot ul li span:hover {

color: #FFFFFF; background-color: #FF0000;transition: all 0.8s ease-out 0s; background: -webkit-linear-gradient(rgba(116, 23, 23, 1), rgba(255, 16, 16, 1)); padding: 6px 10px; margin-top:-4px;}
.maincc ul li+li,
.sotbot ul li+li{ margin-left:4px;}
.maincc ul li,
.sotbot ul li{float:left; }
.headnav { background-color: #0d698d; padding:1.5% 2%; border:1px solid #aeaeae; margin-bottom:12px}
.list_left{color:#fff;  font-family: 'OswaldBook'; font-size:16 px;
padding: 0%; padding-top: 4px; padding-right: 45px; display: inline-block; vertical-align: top;}
.selselct11{width: 193px;
height: 18px;
padding: 5px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );
margin: 2px 0 0 0; color:#000 !important;}
.list_ryt{display: inline-block;}
.sorttxt{ color:#fff; font-family: 'OswaldBook'; margin: 0%; float:left; padding-top: 4px;}


.listings{
border-left: 1px solid #0382B1;
border-right: 1px solid #0382B1;
border-top: 1px solid #0382B1;
padding: 5%;
background: #fff;
height:175px;
margin: 12px 0 0px 0px; position:relative;
 display:block;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; cursor:pointer}
.listings:hover{ 


}
.alist1 .price a {
padding: 5px 90.1px;
}
.alist li{-webkit-transition: all 200ms  linear;
-moz-transition: all 350ms  linear;
-ms-transition: all 350ms  linear;
-o-transition: all 350ms  linear;
transition: all 350ms  linear; }
.alist li, .alaist li
{
  position: relative;
}
.alist li:before, .alaist li .listings:before
{
  content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(175,200,223,.4);
    width: 100%;
    height: 100%;
    -moz-transform: matrix(0.9,0,0,0.9,0,0);
    -webkit-transform: matrix(0.9,0,0,0.9,0,0);
    -o-transform: matrix(0.9,0,0,0.9,0,0);
    -ms-transform: matrix(0.9,0,0,0.9,0,0);
    transform: matrix(0.9,0,0,0.9,0,0);
    z-index: 8;
}
.alist li:hover:before, .alaist li:hover .listings:before
{
  opacity: 1;
        -moz-transform: matrix(1,0,0,1,0,0);
    -webkit-transform: matrix(1,0,0,1,0,0);
    -o-transform: matrix(1,0,0,1,0,0);
    -ms-transform: matrix(1,0,0,1,0,0);
    transform: matrix(1,0,0,1,0,0);
    transform: matrix(1,0,0,1,0,0);
    -webkit-transition: all 0.2s cubic-bezier(.13,.81,.89,.48) 0s;
     -moz-transition: all 0.2s cubic-bezier(.13,.81,.89,.48) 0s;
     -o-transition: all 0.2s cubic-bezier(.13,.81,.89,.48) 0s;
     transition: all 0.2s cubic-bezier(.13,.81,.89,.48) 0s;
     z-index: 8;
}

.alist li:hover >.listings a {
  
}
.ullist  li a{ color:#fff}

.alist li:hover > .listings p {
}

.MCtooltip h3{ font-size:13px;}
.ztxt a{ color:#0d698d; display:block}
.listings p{color: #5d5c5c !important}
a.MCtooltip:hover span {
    top: 100%;
    left: 0;
    width: 86% !important;
}

.listings figure{margin:0px; margin-right: 5%;}
.listings figure img{ display:block;-webkit-transition: background .2s ease-in;
-moz-transition: background .2s ease-in;
-ms-transition: background .2s ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;margin: 0px 0 5px 0;
}

/*.rytttlist{text-align: left;
    width: 82%;}*/
.ztxt a{ 
    /*font-size: 22px; */
font-weight: bold;}
.rytttlist{font-size: 13px;}
/*a{ display:block} */
.ztxt a:hover{}
.listings figure a{ margin:7px 0 0 0;}
article+article{ }
.allcat{ background:#008ec2; padding:10px 0px; color:#fff; font-weight:bold;/*border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px; border-bottom-left-radius:0px;-moz- border-bottom-left-radius:0px;-webkit- border-bottom-left-radius:0px;-o- border-bottom-left-radius:0px;-ms- border-bottom-left-radius:0px;border-bottom-right-radius:0px;-moz- border-bottom-right-radius:0px;-webkit- border-bottom-right-radius:0px;-o- border-bottom-right-radius:0px;-ms- border-bottom-right-radius:0px;*/ font-size:18px; font-family:Verdana, Geneva, sans-serif; text-align:left; padding-left:10px}
.padzero{ padding:0px !important;}
.ullist li{ text-align:left; padding:0px 10px 0 10px;font-family:Verdana, Geneva, sans-serif; font-size:14px;}
.ullist li+li{padding:9px 10px 0 10px;}
.ullist{ padding:20px 0px}
.ullist li a:hover{ text-decoration:underline;}

.selselct{ width: 94%;
height: 23px;
padding: 5px;
border: 1px solid #aeaeae;
background: #efeeee;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );


margin: 2px 0 0 0;}
a{}

.cent_srch_ryt a:hover{}
.srchbtn:hover{/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;background-color: #083047;}
p:hover{}
  
 .result_outer  p{ color:#575656; }

.mrbv1 {
width: 94%;
float: left; font-size: 17px;
border: none;
background-color: transparent;
padding-left: 3px;}
.mrbv1:hover{ border:none;
box-shadow:none;}

.mrvbtn{ background:url(../images/search.png)  no-repeat; outline:none; border:none; cursor:pointer; width:20px; background-color:transparent; position: absolute;
right: 0px;
top: 14px;}
.mrvmain{ width: 94%;
height: 21px;
padding: 8px 30px 8px 8px;
border: 1px solid #ddd;
border-radius:0px;
background: #fff;
float: left;
margin: 0;}




#tog { float:left; cursor: pointer; position: relative;background: #4882C2; height:149px; width:50px;
z-index: 9999999;

-webkit-transition: background .4s ease-in;
-moz-transition: background .4s ease-in;
-ms-transition: background .4s ease-in;
-o-transition: background .4s ease-in;
transition: background .4s ease-in; }
#srch{background: #efeeee;float: left;
margin-left: 0px;
padding: 30px 10px !important;
margin-top: 0px;
background: -moz-linear-gradient(top, #efeeee 0%, white 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efeeee), color-stop(100%, white));
background: -webkit-linear-gradient(top, #efeeee 0%, white 100%);
background: -o-linear-gradient(top, #efeeee 0%, white 100%);
background: -ms-linear-gradient(top, #efeeee 0%, white 100%);
background: linear-gradient(top, #efeeee 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='white',GradientType=0 );padding: 11px 0px 10px 10px;border: 1px solid #b4b4b4;
width: 238px;}

#tog img:hover{ opacity:0.85;}

.amin article{ float:left; width:48%}
.amin .rytttlist{width: 68%;}
/*p{ margin:4px 0px;}*/

.maincc{ margin:0px 0px 12px 0px}

.rzero{ margin-right:0px !important}
.amin .listings{margin-right: 30px;}
.amin{ margin-bottom:20px}

.price{z-index: 1;position: absolute;left: 0; bottom:0; top: auto;}
.price a.rate {
/* display: block; */
background: #0382b1;
text-decoration: none;
color: #fff;
font: 13px Verdana, Geneva, sans-serif, Helvetica, sans-serif;
text-align: center;float:left; height:27px; line-height:28px; padding:0 5px;
}
/*.price a{padding: 5px 15px;}*/
.price a.MCtooltip {
background: #74AFC5;
color: #FFFFFF!important;
height:27px;
line-height:27px;
display: inline-block;
font-family:Verdana, Geneva, sans-serif;
padding:0px;
font-size: 13px;
overflow: initial;
position: relative;
text-decoration: none;  float:left;
text-align: center;
}
.alist1 .listings{
  height: 190px;
  padding: 15px;
}
.alist1 .price a.MCtooltip {
  float:right;
}
.alist1 .price .rate a{
  float: left;
}
.amin li a.MCtooltip span{/*top: 26px;*/ top:0px !important;}
a.MCtooltip span {
background: #0382B1;
box-shadow: 0px -2px 5px #ddd;
color: #fff!important;
font-size: 12px;
left: 0;
position: absolute;
text-align: center;
top: 30px;
padding: 9px;
display: none;
width: 83%;
line-height: 20px; z-index:999999;
transition: display .9s ease-in;
}
.alist li.listings p{ margin:0px}
.amin .price{ background:#0382b1;width: 100%; }
.alist1 .price{ position:absolute; right:0;bottom:0; left:inherit;width: 100%; background-color: #0382B1;}
.alist1 .price .dte{
  width: 38%;
  background: #0382B1;
  overflow: hidden;
}
.alist1 .price a{ padding:3px 5px; text-align: center;} 
a.MCtooltip span{ width:83%}
a.MCtooltip .span{ width:83%; top:-98px;}
.alist1 .chose-langu {
background: #0095c8;
background: linear-gradient(top, #0095c8, #006a9d);
background: -moz-linear-gradient(top, #0095c8, #006a9d);
background: -webkit-linear-gradient(top, #0095c8, #006a9d);
background: -ms-linear-gradient(top, #0095c8, #006a9d);
background: -o-linear-gradient(top, #0095c8, #006a9d);
border-radius: 10px 0px 0px 10px;
padding: 0.7em;
position: fixed;
top: 90px;
right: 0;
z-index: 9;
}
/* .chose-langu:hover{ opacity:0.85;} */
.search-btn {
float: left;
background: url(../images/search-b.png) no-repeat;
width: 41px;
height: 36px;
margin: 0 0 5px 0;
}

.english-btn {
padding-top: 3px;
float: left;
clear: both;
}

.rusiian-btn {
padding-top: 3px;
float: left;
clear: both;
}

.search-btn:hover {
float: left;
background: url(../images/search-b.png) 0 -36px no-repeat;
width: 41px;
height: 36px;
margin: 0 0 5px 0;
}
.listings{}


.pcc{ padding-bottom:0px;}
.mainccs{ width: 425px; float:left; position:relative;}

.price p{background: none repeat scroll 0 0 #74AFC5;
color: #FFFFFF!important;
display: inline-block;
font: 13px Verdana, Geneva, sans-serif;
font-size: 13px;
position: relative;
text-decoration: none;
float: left;  margin:0px;}

.sotbot .sortlist{ margin:40px 0 0 0;}


.alaist > li {
    float: left;
    width: 36%;
}

.alaist li {
    transition: all 350ms linear 0s;
}

.alaist > li {
    width: 48%;
    margin-right: 0%;
}
.alaist > li:nth-child(odd) {
    margin-right: 4%;
}
.alaist{
  width: 100%;
}
.alaist:first-child {
  margin-right: 4%;
}


.outpart{ width:100%; float:left;}

.ztxt{margin-bottom: 10px;}
@media (max-width: 1040px){
  .mainccs{
    width: 100%;
  }
} 
.list_ryt .demoTarget .sbHolder{
  width: 170px;
  margin-left: 10px;
}
@media (max-width: 350px){
  .cent_srch_left_main {
  width: 100%;
  float: none;
  }
}

#taw0 > *{
  width: 80px;
}

iframe img{
  width: 20px;
}

#adunit{
  width: 80px;
}

.one_input{
  margin-top: 10px;
  margin-bottom: 5px;
}
.one_input h6{
  margin-bottom: 5px;
}
.cent_srch_left li{
  margin-top: 5px;
  margin-bottom: 5px;
}
.price{
  width: 100%;
  background: #0382B1;
}
.price a:first-child{
  width: 25%;
}
.price a:last-child{
  width: 40%;
}
.price a{
  width: 26%;
  overflow: hidden;
}
.price a.MCtooltip[href="#"]{
  width: 27%;
}
@media (max-width: 1180px) {
  .price a.MCtooltip[href="#"]{
    width: 27%;
  }
  .alaist .price a.rate:last-child{
      width: 43%;
    }
}
@media (max-width: 1325px) {
  .price a.MCtooltip[href="#"]{
      display: none;
  }
  .listings .price a.dte{
    width: 65%;
  }
}
@media (max-width: 1325px) {
  .listings .price a.dte{
    width: 34%;
  }
}
@media (min-width: 480px){
  .alist1 .price a.MCtooltip[href="#"]{
    display: block !important;
  }
}
@media (min-width: 480px) and (max-width: 980px) {
  .price a.MCtooltip[href="#"]{
    display: block;
  }
}
@media (max-width: 1180px) {
    article.listings{
      height: 190px;
    }
    ul.alaist li{
      height: 220px;
    }
    
    
    .price a.rate:last-child{
      width: 50%;
    }
}
@media (max-width: 986px) {
  .alist1 .price .dte{
      width: 35%;
    }
    .price a.rate{
      width:22%;
    }
}
@media (max-width: 680px) {
  article.listings{
    height: 180px;
  }
  .alist1 .listings{
    height: 240px;
  }
}
@media (max-width: 380px) {
  .alist1 .listings{
    height: 400px;
  }
  .list_ryt .demoTarget .sbHolder{
    margin-left: 0;
  }
  .sorttxt{
    margin-right: 10px;
  }
}
@media (max-width: 420px) {
  .alist .price a.MCtooltip[href="#"]{
    display: none !important; 
  }
  .alist1 .price .dte{
    width: 60%;
  }
}
@media (max-width: 320px) {
  .cent_srch_ryt{
    width: 100%;
  }
  .alaist{
    width: 100%;
  }
  .alaist:first-child{
    margin-right: 0;
  }
}
.price a.rate{
  text-align: center;
}
.srch_bar #srch #alert_email{
  width: 95%;
}
#tog{
  background-color: #4882C2;
  animation: subscribe 2s infinite linear 0s;
  -webkit-animation: subscribe 2s infinite linear 0s;
  -moz-animation: subscribe 2s infinite linear 0s;
}
.tog_text{
  writing-mode: tb-rl;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
  width: 133px;
  margin-left: -41px;
  margin-top: 60px;
  height: 25px;
  font-size: 18px;
}
@-webkit-keyframes subscribe {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.9;
  }
  50%{
    opacity: 0.75;
  }
  75%{
    opacity: 0.6;
  }
}
@keyframes subscribe {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.9;
  }
  50%{
    opacity: 0.75;
  }
  75%{
    opacity: 0.6;
  }
}
.alaist .price a.rate:last-child {
    float: right;
}
@media (max-width: 480px) {
  article.listings .ztxt a{
    font-size: 12px;
  }
}
@media (max-width: 380px) {
article.listings{
  height: 205px;
}
@media (max-width: 240px) {
article.listings{
  height: 219px;
}
ul.alaist li{
  margin-bottom: 20px;
}
.sotbot{
  margin-top: 20px;
}
.shwmain{
  overflow: hidden;
}
.shwmid_parent{
    position: relative;
    float: right;
    right: 50%;
}
@media (max-width: 500px) {
  .minmain{
    width: 100%;
  }
}
.account_box form button.apply {
  background: #A8A7A7;
}
@media (max-width: 350px) {
  .selselct{
    padding: 0px;
  }
}
button..apply.{
  background-color: #0382B1;
}

@media (max-width: 320px) {
  .alaist > li{
  width: 100%;
}
.alaist > li:nth-child(odd){
  margin-right: 0;
}
ul.alaist li{
  height: 180px;
}
}
.cent_srch_left .for_price{
  margin-left: 0 !important;
}